title: Voice Model Parameter Comparison
description: Compare audio samples with different parameters.
baseurl: ""
url: ""
plugins:
  - jekyll-feed

exclude:
  - venv/
  - vendor/
  - Gemfile
  - Gemfile.lock
  - node_modules/


